body {
  margin: 0;
  padding: 0;

  color: #ffffff;
  font-family: "Cuprum", sans-serif ;
  font-size: 13px;
}

/*header*/

.top-header {
  display: flex;
  flex-direction: row;
  background-color: #293449;
  min-height: 40px;
}

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.logo-header {
  background-color: #ee3643;
}

.logo-header span {
  font-size: 24px;
  line-height: 24px;
}
