body {
  margin: 0;
  padding: 0;

  color: #ffffff;
  font-family: "Cuprum", sans-serif ;
  font-size: 13px;
}

/*header*/

.top-header {
  background-color: #293449;
  display: flex;
  max-height: 40px;
}

.container {
  display: flex;
  position: relative;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.logo-header, .logo-footer {
  z-index: 1;
  left: 10px;
  position: absolute;
  background-color: #ee3643;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  box-shadow:inset 0 -5px 0px rgba(181, 41, 51, 0.75);
}

.logo-header a, .logo-footer a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.logo-header:hover, .logo-header:focus, .logo-footer:hover, .logo-footer:focus {
  background-color: #ca2c37;
}

.logo-header:active {
  background-color: #ba2732;
}

.top-header label {
  visibility: hidden;
}

.top-header input {
  border: none;
  font-size: 17px;
  line-height: 18px;
  background-color: inherit;
  color: inherit;
  width: 240px;
  margin-left: 195px;
  padding: 10px 0px 10px 50px;
  background-image: url("images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}

.top-header input:hover {
  background-color: #212a3a;
  background-image: url("images/icon-sear-hover.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}


.top-header input:focus {
  background-color: #ffffff;
  color: #000000;
  background-image: url("images/icon-sear-focus.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}

.top-header ul {
  display: flex;
  margin: 0px;
  margin-left: -40px;
}

.top-header li {
  list-style: none;
  font-size: 17px;
  line-height: 18px;

}

.top-header li a {
  text-decoration: none;
  color: inherit;
}

.top-header li:first-child {
  background-image: url("images/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
  padding: 10px 20px 10px 45px;
}

.top-header li:first-child:hover{
  background-image: url("images/icon-bookmark-hover.svg");
}

.top-header li:active {
  color: #a2a5a9;
  opacity: 0.7;
}

.top-header li:nth-child(2) {
  background-image: url("images/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 25px 10px;
  padding: 10px 20px 10px 60px;
}

.top-header li:nth-child(2):hover {
  background-image: url("images/cart-icon-hover.svg");
  background-repeat: no-repeat;
  background-position: 25px 10px;
}

.top-header li:last-child {
  background-color: #63a63e;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
}

.top-header li:last-child:hover {
  background-color: #5fbb2d;
}

.top-header li:last-child:active {
  background-color: #518534;
}

.top-header li:not(:last-child):hover {
  background-color: #212a3a;
}

.bot-header {
  background-color: #f3f7f9;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bot-header p:first-child {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
  width: 200px;
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.bot-header span {
  background-image: url("images/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.2px;
  border: 3px solid #ffffff;
  padding: 10px 50px 10px 70px;
  margin-top: 40px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.enter{
  display: flex;
  list-style: none;
  width: 280px;
  justify-content: space-between;
  margin-top: 53px;
}

.enter a {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
}

.without-icon {
  padding: 10px 25px 10px 25px;
}

.with-icon {
  background-image: url("images/icon-login.svg");
  background-position: 15px 13px;
  background-repeat: no-repeat;
  padding: 10px 25px 10px 45px;
}

.enter a:hover {
  color: #ee3643;
}

.with-icon:hover {
  background-image: url("images/icon-login-hover.svg");
}

.enter a:active {
  color: #b2b2b2;
  opacity: 0.7;
}

.with-icon:active {
  background-image: url("images/icon-login.svg");
}

.header-mid-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 273px;
}

.header-mid-box p {
  margin-top: 3px;
}

.bot-header nav {
  width: 960px; /*~~~~~~~*/
}

.bot-header nav ul {
  display: flex;
  justify-content: space-around;
  width: 940px;
  background-color: #32425c;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow:inset 0 -5px 0px #293449;
  margin-bottom: 70px;
  padding-left: 0px; /********/
}

.bot-header nav li {
  list-style: none;
  font-size: 17px;
  line-height: 18px;
  padding: 20px 30px 20px 30px;
}

.bot-header nav li:hover {
  background-color: #293449;
}

.bot-header nav li:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.bot-header nav a {
  color: #ffffff;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

header {
  background-color: #f3f7f9;
}

/*main*/

.promo {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 300px;
  min-height: 125px;
}

.promo span {
  padding: 20px 165px 20px 25px;
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  font-weight: bold;
}

.promo a {
  position: absolute;
  padding: 10px 25px 10px 25px;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  top: 65px;
  left: 25px;
  border-radius: 3px;
}

.materials {
  background-color: #ffbf47;
  background-image: url("images/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 210px 30px;
  margin-top: 60px;
  margin-left: 10px;
}

.materials::after{
  content: "";
  background: url("images/new flag.png") no-repeat;
  position:absolute;
  width: 60px;
  height: 60px;
  top: 0px;
  left: 240px;
}

.materials a {
  background-color: rgba(261, 160, 40, 0.7);
}

.materials a:hover {
  background-color: rgba(236, 135, 15, 0.8);
}

.materials a:active {
  background-color: rgba(211, 110, 0, 0.9);
}

.tool {
  background-color: #3bbce3;
  background-image: url("images/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 195px 35px;
  margin-top: 60px;
  margin-left: 20px;
}

.tool a {
  background-color: rgba(53, 169, 204, 0.7);
}

.tool a:hover {
  background-color: rgba(28, 134, 179, 0.8);
}

.tool a:active {
  background-color: rgba(3, 109, 154, 0.9);
}

.equipment {
  background-color: #dc91d8;
  background-image: url("images/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 190px 30px;
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 10px;
}

.equipment a {
  background-color: rgba(198, 130, 194, 0.7);
}

.equipment a:hover {
  background-color: rgba(173, 105, 169, 0.8);
}

.equipment a:active {
  background-color: rgba(148, 80, 144, 0.9);
}

.special {
  background-color: #8ed78f;
  background-image: url("images/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 195px 25px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.special span {
  padding: 20px 160px 20px 25px;
}

.special a {
  background-color: rgba(128, 193, 128, 0.7);
}

.special a:hover {
  background-color: rgba(103, 168, 103, 0.8);
}

.special a:active {
  background-color: rgba(78, 143, 78, 0.9);
}

.deliver {
  background-color: #ffc047;
  background-image: url("images/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 190px 30px;
  margin-top: -125px;
  margin-right: 10px;
}

.deliver a{
  background-color: rgba(229, 172, 64, 0.7);
}

.deliver a:hover {
  background-color: rgba(204, 147, 39, 0.8);
}

.deliver a:active {
  background-color: rgba(179, 122, 14, 0.9);
}

.slaider {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  width: 620px;
  height: 265px;
  background: url("images/layer.png") no-repeat 100%,url("images/Layer 99.png") no-repeat, url("images/bosch-top-img.jpg");
}

.next-slide {
  background: url("images/shadow-2.png") no-repeat, url("images/Layer 98.jpg") no-repeat;
}

.slaider span {
  position: absolute;
  line-height: 36px;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  top: 25px;
  left: 25px;
}

.slaider p {
  position: absolute;
  top: 45px;
  left: 25px;
  font-family: "PTSans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.slaider .btn {
  position: absolute;
  text-decoration: none;
  color: inherit;
  padding: 10px 45px;
  background-color: #ee3643;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  left: 25px;
  top: 205px;
  z-index: 1;
}

.slaider .btn:hover, .top-tovats a:hover, .top-manufacturers a:hover, .info-company a:hover, .contacts a:hover, .write-us button:hover {
  background-color: #ca2c37;
}

.slaider .btn:active, .top-tovats a:hover, .top-manufacturers a:hover, .info-company a:hover, .contacts a:hover, .write-us button:hover {
  background-color: #ba2732;
}

.slaider .next {
  position: absolute;
  top: 43%;
  left: 25px;
  background-image: url("images/icon-left.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 45px;
  color: transparent;
  z-index: 1;
}

.slaider .previous {
  position: absolute;
  top: 43%;
  right:25px;
  background-image: url("images/icon-right.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 45px;
  color: transparent;
  z-index: 1;
}

.first-radio {
  position: absolute;
  left: 48%;
  bottom: 35px;
}

.second-radio {
  position: absolute;
  left: 51%;
  bottom: 35px;
}

.first-slaid {
  opacity: 1;
}

.second-slaid {
  opacity: 0;
}

.promo-box {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 55px;
}

.top-tovats, .top-manufacturers {
  display: flex;
  background-color: #f9f5f0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.top-tovats h2, .top-manufacturers h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  margin-left: 30px;
}

.top-tovats a, .top-manufacturers a, .dop-content a, .info-company a, .contacts a:not(.open-map) {
  align-self: center;
  text-decoration: none;
  color: inherit;
  padding: 10px 45px;
  background-color: #ee3643;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 395px;
}

.top-manufacturers a {
  margin-left: 313px;
  margin-right: 25px;
}

.box-tovats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tovat {
  width: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eaeaea;
  min-height: 320px;
}

.tovat:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.without-price b {
  margin-bottom: 20px;
}

.special-tovat::after{
  content: "";
  background: url("images/new flag.png") no-repeat;
  position:absolute;
  width: 60px;
  height: 60px;
  top: 0px;
  left: 160px;
}

.tovat img {
  margin-top: 40px;
  margin-bottom: auto;
}

.tovat img:hover {
  opacity: 0;
}

.tovat span {
  font-family: "PTSans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #aaaaaa;
  text-decoration: line-through;

}

.tovat b {
  font-family: "PTSans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: 15px;
}

.tovat .price {
  text-decoration: none;
  color: #ffffff;
  background-image: url("images/btn copy 14.png");
  background-repeat: no-repeat;
  background-position: 5px 0px;
  padding: 10px 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}

 .btn-tovat {
  position: absolute;
  display: none;
  top: 50px;
  border: none;
  left: 40px;
  width: 135px;
  height: 40px;
  background-color: #63a63e;
  border-color: #63a63e;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  box-shadow:inset 0 -3px 0px #367315;
}

.show-buttons {
  display: block;
}

.tovat .buy {
  background-image: url("images/icon-buy.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.buy:hover {
  background-image: url("images/cart-icon-hover.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
  box-shadow: none;
}

.tovat .bookmark {
  width: 132px;
  height: 37px;
  top: 95px;
  left: 40px;
  background-color: #ffffff;
  color: #32425c;
  border: 3px solid #64a63f;
  box-shadow:none;
}

.bookmark:hover {
  color: #32425c;
  border-color: #32425c;
}

.bookmark:active {
  color: rgba(193, 198, 206, 0.7);
  border-color: rgba(193, 198, 206, 0.7);
}

.tovats {
  display: flex;
  flex-direction: column;
}

.manufacturers-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 85px;
  margin-left: 10px;
  margin-right: 10px;
}

.manufucturer {
  width: 220px;
  border: 1px solid #eaeaea;
  min-height: 145px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.manufucturer:not(.fix-box) {
  margin-right: 16px;
}

.manufucturer:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.manufucturer:active {
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.servises {
  background-color: #f5f8fa;
  align-items: flex-start;
}

.top-servises {
  width: 400px;
  position: absolute;
}

.dop-content {
  width: 620px;
  margin-top: 235px;
  margin-left: 400px;
  min-height: 285px;
}

.delivery {
  background: url("images/Layer 131.png") no-repeat 100% 20%, url("images/Layer 121-d.png") no-repeat 100% 110%;
}

.garanties {
  display: none;
  background: url("images/Layer 130.png") no-repeat 100% 50%, url("images/Layer 121-g.png") no-repeat 100% 450%;
}

.credit {
  display: none;
  background: url("images/Layer 119.png") no-repeat 100% 50%, url("images/Layer 121.png") no-repeat 100% 5900%;
}

.top-servises h3 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  margin-left: 10px;
  margin-top: 60px;
}

.top-servises p, .dop-content p {
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin-left: 10px;
}

.bot-servises select {
  position: absolute;
  top: 235px;
  left: 10px;
}

.bot-servises option {
  background-color: #32425c;
  width: 220px;
  border-top: 1px solid #4d637b;
}

.bot-servises option{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  padding: 15px 25px 25px;
}

.bot-servises option:hover {
  background-color: #293449;
}

.dop-content h4 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.dop-content p {
  margin-right: 345px;
  margin-left: 0px;
}

.dop-content a {
  position: absolute;
  margin-top: 15px;
  margin-left: 0;
}

.info-company {
  width: 540px;
  margin-top: 75px;
  padding-right: 20px;
  margin-left: 10px;
}

.info-company h3, .contacts h3 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.info-company p, .contacts p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 25px;
}

.info-company li {
  position: relative;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 15px;
}

.info-company li::before {
  content: "";
  position: absolute;
  background-color: #ee3643;
  height: 2px;
  width: 25px;
  top: 50%;
  left: -35px;
}

.info-company a {
  position: absolute;
  top: 110%;
  margin-left: 10px;
}

.contacts {
  margin-top: 75px;
  width: 300px;
  margin-left: 90px;
  margin-right: 10px;
}

.contacts p {
  margin-right: 120px;
  margin-bottom: 30px;
}

.contacts a:not(.open-map) {
  position: absolute;
  top: 110%;
  margin-left: 0px;
}

/*footer*/

.footer {
  display: block;
}

.top-footer {
  display: flex;
  flex-direction: column;
  margin-top: 165px;
  background-color: #32425c;
}

.top-footer .logo-footer {
  position: absolute;
  top: 0%;
  left: 10px;
  width: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-footer ul {
  position: absolute;
  width: 570px;
  margin-left: 370px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 35px;
  margin-bottom: 35px;
}

.top-footer ul a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  line-height: 24px;
}

.top-footer ul a:hover {
  text-decoration: underline;
}

.top-footer ul a:active {
  opacity: 0.5;
  text-decoration: none;
}


.top-footer p {
  align-self: flex-start;
  font-size: 18px;
  line-height: 24px;
  margin-top: 95px;
  width: 335px;
  margin-left: 10px;
  margin-bottom: 65px;
}

.bot-footer {
  margin-top: -17px;
  background-color: #293449;
  min-height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bot-footer p {
  font-size: 16px;
  line-height: 18px;
  margin-left: 10px;
  width: 230px;
  margin-top: auto;
  margin-bottom: auto;
}

.bot-footer p a, .under-nav  {
  text-decoration: none;
  color: #ffd180;
}

.bot-footer ul {
  width: 135px;
  display: flex;
  list-style: none;
  margin: auto 115px auto 175px;
}

.bot-footer li {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 3px;
}

.bot-footer li:first-child {
  background: #212a3a url("images/vk-icon.svg") no-repeat 50% 50%;
}

.bot-footer li:nth-child(2) {
  background: #212a3a url("images/fb-icon.svg") no-repeat 50% 50%;
}

.bot-footer li:last-child {
  background: #212a3a url("images/insta-icon.svg") no-repeat 50% 50%;
}

.bot-footer li:first-child:hover {
  background: #ee3643 url("images/vk-icon.svg") no-repeat 50% 50%;
}

.bot-footer li:nth-child(2):hover {
  background: #ee3643 url("images/fb-icon.svg") no-repeat 50% 50%;
}

.bot-footer li:last-child:hover {
  background: #ee3643 url("images/insta-icon.svg") no-repeat 50% 50%;
}

.bot-footer li a {
  font-size: 25px;
  color: transparent;
}

.bot-footer p a:hover {
  text-decoration: underline;
}

.bot-footer p a:active {
  text-decoration: none;
  color: #d43644;
}

.under-nav {
  top: 65px;
  left: 10px;
}

.conection {
  width: 140px;
  margin-right: 70px;
}

.creater {
  width: 115px;
}

/*wtire us*/

.write-us {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 620px;
  height: 425px;
  z-index: 1;
  border-top: 7px solid #ff5257;
  left: 25%;
  top: 2520px;
  box-shadow: 0 20px 40px #000000;
}

.write-us-show {
  display: block;
  animation-name: arrivalPopup;
  animation-duration: 2s;
}

.write-us .exit, .exit-map {
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("images/form-2.svg") no-repeat 50% 50%;
  top: 10px;
  right: 10px;
}

.write-us form {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.write-us label {
  position: absolute;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.write-us input {
  position: absolute;
  width: 210px;
  height: 35px;
  border: 2px solid #dee3e4;
  color: #000000;
  border-radius: 3px;
  padding-left: 15px;
}

.input-one {
  top: 75px;
  left: 77px;
}

.input-two {
  top:75px;
  left: 320px;
}

.label-one {
  top: 45px;
  left: 77px;
}

.label-two {
  top: 45px;
  left: 320px;
}

.label-three {
  top: 145px;
  left: 77px;
}

.write-us textarea {
  margin-top: 130px;
  width: 460px;
  height: 115px;
  border: 2px solid #dee3e4;
  color: #000000;
  border-radius: 3px;
}

.write-us button {
  width: 460px;
  height: 35px;
  align-self: center;
  color: inherit;
  border:none;
  background-color: #ee3643;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: auto;
}

.batton-box {
  margin-top: 35px;
  display: flex;
  width: 100%;
  background-color: #f4f4f4;
  height: 110px;
}

.write-us input:focus, .write-us textarea:focus {
  outline-color: #ee3643;
}

.map {
  position: absolute;
  top: 2360px;
  left: 18%;
  display: none;
  animation-duration: 3s;
}

.map-show {
  display: block;
  animation-name: arrivalPopup;
  animation-duration: 2s;
}

.map .exit-map {
  border: none;
  top: 20px;
  right: 20px;
}

@keyframes arrivalPopup {
  from{
    transform: translateX(-2500px);
  }
  50%{transform: translateX(-50px);
  }
  to{text-transform: translateX(0px);}
}

/*catalog*/

.account {
  margin-top: 40px;
  margin-left: 50px;
}

.user a {
  display: flex;
  width: 280px;
  min-height: 45px;
  font-size: 21px;
  line-height: 21px;
  padding-left: 50px;
  background: url("images/icon-logout-unhover.svg") no-repeat 290px 13px, url("images/icon-user-unhover.svg") no-repeat 15px 10px;
  background-color: #ffffff;
  align-items: center;
}

.user a:active {
  color: #3f4e66;
  opacity: 0.3;
  background: url("images/icon-logout-unhover.svg") no-repeat 290px 13px, url("images/icon-user-unhover.svg") no-repeat 15px 10px;
}

.user a {
  text-decoration: none;
  color: #000000;
}

.user a:hover {
  background: url("images/icon-logout.svg") no-repeat 290px 13px, url("images/icon-user.svg") no-repeat 15px 10px;
  background-color: #ffffff;
}

.account ul {
  display: flex;
  color: #3f4e66;
}

.account li:first-child {
  list-style: none;
  margin-left: 0px;
}

.account li {
  margin-left: 30px;
}

.account li a {
  color: #3f4e66;
}

.account li a:hover {
  color: #ef5c67;
}

.account li a:active {
  color: #3f4e66;
  opacity: 0.3;
}

/*catalog main*/

.pagenation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pagenation li .invis {
  color: transparent;
  margin-right: 40px;
}

.pagenation a:not(.invis) {
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  margin-right: 40px;
  position: relative;
  font-family: "PTSans", sans-serif;
}

.pagenation li:first-child {
  background-image: url("images/icon-home.svg");
  background-position: center 45%;
  background-repeat: no-repeat;
}

.pagenation a:not(.invis)::before {
  background: url("images/icon-right-small.svg") no-repeat center;
  content: "";
  width: 10px;
  height: 15px;
  position: absolute;
  left: -25px;
}

.catalog-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  padding: 25px 0 30px 30px;
}

.filter-box {
  width: 220px;
}

.filter-box h3, .sorting h3 {
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f7f3ec;
  padding: 10px 0 10px 20px;
}

.filter-box label {
  font-family: "PTSans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

input[type='range'] {
  padding: 30px 0 30px 20px;
  background-color: #f7f3ec;
}

input[type='range']:thumb {
  border-radius: 50%;
}

input[type='radio'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

input[type='radio'] + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}

input[type='radio'] + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0px;
  width: 22px;
  height: 22px;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  background-color: inherit;
}

input[type='radio'] + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height:16px;
  border-radius: 50%;
  background-color: #c5c5c5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.2s;
}

input[type='radio']:checked + label::after {
  opacity: 1;
}

input[type='radio']:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.7);
}

.filter button {
  width: 139px;
  height: 34px;
  border:1px solid #e5e5e5;
  background-color: inherit;
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.box-tovats-catalog {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.box-tovats-catalog .tovat {
  margin-bottom: 15px;
}

.perforators ul {
  width: 285px;
  display: flex;
  justify-content: space-between;
  margin-left: 31%;
  margin-bottom: 60px;
}

.perforators ul li {
  display: flex;
}

.perforators li:last-child {
  padding-left: 33px;
  padding-right: 28px;
  text-transform: uppercase;
}

.perforators a {
  text-decoration: none;
  color: #000000;
  border: 1px solid  #e5e5e5;
  border-radius: 3px;
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.perforators .page {
  background-color: #ee3643;
  color: #ffffff;
}

.perforators .next-btn {
  padding-left: 35px;
  padding-right: 30px;
  margin-left: -35px;
}

.perforators a:hover {
  border-color: #bdc6ca;
}

.perforators a:active {
  border-color: #ee3643;
}

.about-perforators {
  background-color: #f2f6f8;
  margin-bottom: -170px;
}

.about-perforators h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  padding-top: 60px;
  margin-left: 10px;
}

.about-perforators p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 65px;
  margin-left: 10px;
}

.info-box {
  display: block;
}
